// Define variables for your color scheme

// For example:
// bootstrap default colours
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Foodme colours:
$dark-green: #337357;
$light-green: #98B634;
$black-grey: #2F302B;
$terracota:#D9754A;
$background-green: #F4FBF8;
