<div class="container">
  <div class="row justify-content-center m-3">
    <div class="container col-lg-6">
      <h2>Edit selected menu item</h2>
      <%= render "menu_item_form_edit" %>
    </div>
  </div>
</div>
