<%# add order overview if login is by user and not restaurant/chef %>
<div class="container mt-4 col-8">
  <div class="d-flex justify-content-between" style="align-items: center">
    <h2>Menu Overview</h2>
    <%= link_to "Add new menu", new_menu_item_path, class: "btn btn-primary ms-2" %>
  </div>
  <div class="menu-item-cards">
    <% @menu_items.each do |item| %>
      <%= render "menu_item_show_modal", item: item %>
    <% end %>
  </div>
  <div class="d-flex justify-content-end mb-4 mt-2">
    <%= link_to "Back to dashboard", root_path, class: "btn btn-warning ms-2" %>
    <%= link_to "See online menu", menu_item_customers_path, class: "btn btn-warning ms-2" %>
  </div>
</div>
