<div class="container">
  <div class="row justify-content-center m-3">
    <div class="container col-lg-6">
      <%= simple_form_for(@menu_item) do |f| %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
