<div class="footer">
  <div class="footer-links ">
    <a href="https://www.instagram.com/berlinfoodstories/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © 2022 foodme GmbH <i class="fas fa-heart"></i>
  </div>
</div>
