<div class="container text-center ">
  <%= image_tag "img4.png" %>
  <p><strong>Your order was placed.</strong></p>
  <p>Hang in there till your order is being cooked</p>
  <p>Your order nr: <%= @order.id %></p>
</div>
