<div class="" data-controller="orderstatus-subscription" data-orderstatus-subscription-orderstatus-id-value="<%= @order.id %>">
  <div class="status" data-orderstatus-subscription-target="status">
    <%= render "order_status", order: @order %>
  </div>
</div>
