

<div class="banner" style="background-image:url(https://t4.ftcdn.net/jpg/02/89/80/03/360_F_289800335_l89vweOGANYIhKuVHRgpGh5QRwKQMsQx.jpg);">
  <div class="container justify-content-center">
    <h1>Focus on what matters quality food</h1>
  </div>
</div>
