<div class="banner">
  <div class="container justify-content-center">
    <h1>Focus on what matters</h1>
    <h1> - quality food</h1>
  </div>
</div>
<div class="diagonal-box">
  <div class="inner"></div>
</div>

