<div class="empty">
  <div class="banner">
    <div class="container justify-content-center">
      <h1>Focus on what matters</h1>
      <h1> - quality food</h1>
    </div>
  </div>
  <div class="diagonal-box">
    <div class="inner"></div>
  </div>
  <div class="container text">
    <div class="row justify-content-center">
      <div class="home-card col-12 col-lg-4" >
        <%= image_tag "img1.png" %>
        <div class="cards-text">
          <p><strong>Faster turnaround</strong></p>
          <p>Choose digital menus and online payment systems instead of relying on unproductive and overloaded waiters.</p>
        </div>
      </div>
      <div class= "home-card col-12 col-lg-4">
        <%= image_tag "img2.png" %>
        <div class="cards-text" >
          <p><strong>Digital inventory</strong></p>
          <p> Connect your inventory with your menu and automate your restaurant and keep your menu always up-to-date.</p>
        </div>
      </div>
      <div class= "home-card col-12 col-lg-4">
        <%= image_tag "img3.png"%>
        <div class="cards-text">
          <p><strong>Happy guests</strong></p>
          <p>No-one likes to wait. Let your guests order whenever they are ready and pay instantaneously without any hassle.</p>
        </div>
      </div>
    </div>
  </div>
</div>
