<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Inventory", "ingredients", class: "btn btn-primary" %>
<%= link_to "Menu", "menu_items", class: "btn btn-primary" %>
<%= link_to "Live Kitchen", "order_items", class: "btn btn-primary" %>
