<div class="card-livekitchen">
  <div class="livekitchen-text">
    <div class="livekitchen-righttext">
      <% order.order_items.each do |item| %>
        <p><strong><%= item.menu_item.name %> (<%= pluralize item.quantity, "portion" %>)</strong></p>
      <% end %>
    </div>
    <div class="livekitchen-lefttext">
      <p>Order #<%= order.id %></p>
      <p>Table: <%= order.table_number == 0 ? "takeaway" : order.table_number %></p>
    </div>
  </div>
</div>

