<div class = "container border-top">
    <h4>Already cooked:</h4>
    <div class = "row justify-content-center row flex-row ">
      <% @delivered_orders.each do |order| %>
        <%= render "live_kitchen_card", order: order %>
      <% end %>
  </div>
</div>
