<div class="container livekitchen" data-controller="livekitchen-subscription">
  <h2>Live Kitchen</h2>
  <h4>In progress:</h4>
    <% @in_progress_orders.each do |order| %>
      <%= render "livekitchen_card_progress", order: order %>
    <% end %>
  <h4>Up next:</h4>
  <div data-livekitchen-subscription-target="orders">
    <% @pending_orders.each do |order| %>
      <%= render "livekitchen_card_pending", order: order %>
    <% end %>
  </div>
  <%= link_to "Finished orders", completed_orders_path, class: "btn btn-warning btn-closed" %>
</div>
