<div class="container livekitchen col-6" data-controller="livekitchen-subscription">
  <div class="d-flex flex-column min-vh-90">
    <h2>Live Kitchen</h2>
    <%# <h4 class="flex-grow-1 shadow-sm p-3 mb-5 bg-white rounded text-center">There is no order</h4> %>
    <h4>In progress:</h4>
    <% if @in_progress_orders.empty? %>
      <div class="card-livekitchen-empty">
        <p>Insert placeholder</p>
      </div>
    <% else %>
      <% @in_progress_orders.each do |order| %>
        <%= render "livekitchen_card_progress", order: order %>
      <% end %>
    <% end %>
    <h4>Up next:</h4>
    <% if @pending_orders.empty? %>
      <div class="card-livekitchen-empty">
        <p>Insert placeholder</p>
      </div>
    <% else %>
      <div data-livekitchen-subscription-target="orders">
        <% @pending_orders.each do |order| %>
          <%= render "livekitchen_card_pending", order: order %>
        <% end %>
      </div>
    <% end %>
    <div class="flex-grow-1">
    </div>
    <div>
      <%= link_to "Back", root_path(@root), class: 'btn btn-primary btn-closed' %>
      <%= link_to "Finished orders", completed_orders_path, class: "btn btn-warning btn-closed" %>
    </div>
  </div>
</div>
