<div class="container">
  <div class="customer-menu-title">
    <h2>Menu</h2>
  </div>
</div>
<div class="customer-menu-filter">
  <% MenuItem::CATEGORY.each do |menu_category| %>
    <div class="customer-menu-filter-card">
      <%= link_to "#{menu_category.capitalize.pluralize}", "#{menu_item_customers_path}##{menu_category}" %>
    </div>
  <% end %>
</div>
<div class="container" data-controller="checkout">
  <div class="customer-menu-card-container">
    <% MenuItem::CATEGORY.each do |menu_category| %>
    <div class="customer-menu-card-category" id="<%= "#{menu_category}" %>" >
      <h4><%= menu_category.capitalize.pluralize %></h4>
      <%# <% menu_cat = MenuItem.where(menu_item_type: "#{menu_category}") %>
      <% menu_cat = @menu_items.select{|item| item.menu_item_type == menu_category } %>
      <%= render "menu_item_cards", menu_items: menu_cat %>
    </div>
    <% end %>
  </div>
<div data-checkout-target="btn">
  <% render "checkout_btn", current_order: @current_order %>
</div>

</div
