.banner {
  width: 100%;
  height: 45vh;
  background-color: $dark-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.diagonal-box {
  position: relative;
  height: 0px;
  z-index: -1;
}

.diagonal-box .inner {
  height: 70px;
  transform: translateY(-1px);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 10%);
  background-color: $dark-green;
  z-index: -1;
}

.banner h1 {
  margin: 0;
  color: $black-grey;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.home-card img {
  height: 215px;
  padding-bottom: 20px;
}

.home-card {
  padding: 0 20px;
}

.cards-text p:first-child {
  text-align: center;
  font-size: 20px;
  color: $black-grey
}
.cards-text {
  text-align: center;
  color: $black-grey
}
