.img-size{
  width: 200px;
  height: 190px;

}

// .buttons{
//   margin-top: 8px;
//   width: 198px;
//   background-color: green;
// }


.cards-text{
  text-align: center;
}


.home-card{
  margin-top: 100px;
  margin-bottom: 100px;
}

.buttons {
  text-decoration: none;
  background-color: green;
  color: white;
  &:hover {
    background-color: lightgreen;
    border-color: white;
    transition: 0.2s;
  }
}
