.footer {
  background: $dark-green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: $background-green;
}

@media only screen and (max-width: 400px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .footer-links {
      padding-top: 10px;
    }

    .footer-copyright {
      padding: 10px;
    }
  }
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $background-green;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: $black-grey;
}

.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  color: $background-green;
  opacity: 30%;
}
