.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}

.inventory-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.filter-card a {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border-radius: 50rem;
  padding: 0.3rem 0.9rem;
  background-color: rgba(51, 115, 87, 0.2);
  color: $black-grey;
  border: 0px solid $dark-green;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  text-decoration: none;
}

.filter-card a:hover {
  background-color: rgba(51, 115, 87, 0.6);
  transition: 0.2s;
}

.filter-card p {
  margin: 0px;
}

.form-control-search {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.search-btn {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
