.ing-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 13rem);
  justify-content: space-between;
  justify-items: center;
  align-items: flex-start;
  height: max-content;
  width: 100%;
  grid-row-gap: 16px;
  margin-bottom: 30px;
}

.ing-cards a {
  text-decoration: none;
  color: $gray;
}

.card {
  position: unset !important;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: 0.2s;
  cursor: pointer;
}

.card-body {
  padding: 0px;
  form {
    padding: 13px;
    padding-top: 0px;
  }
}

.card-img-top {
  height: 150px;
  width: 100%;
  min-width: 200px;
  object-fit: cover;
}

.card-details {
  padding: 13px;
  padding-top: 8px;
}

.card-body-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-body-details p {
  margin: 0px;
  width: 70%;
  text-align: center;
  background-color: $gray;
  border-radius: 25px;
  color: white;
  padding: 6px;
}

#circle-status-full {
  border-radius: 50px;
  width: 35.99px;
  background-color: $light-green;
}

#circle-status-warning {
  border-radius: 50px;
  width: 35.99px;
  background-color: #FFC65A;
}

#circle-status-low {
  border-radius: 50px;
  width: 35.99px;
  background-color: #D9754A;
}

.ingredient-update {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ingredient-update .fa-trash-can {
  color: white;
  align-items: center;
  display: flex
}

.ingredient-update .btn-primary {
  width: 70%;
}

.card-category h4 {
  margin: 0px;
}
