.livekitchen h2 {
  text-align: center;
  color: $black-grey;
  padding: 10px;
}

.livekitchen p {
  color: $black-grey;
  margin: 0;
}

.livekitchen h4 {
  color: $black-grey;
  padding: 10px;
}

.btn-kitchen {
  margin: 0 10px;
  height: 100%;
}
.card-livekitchen {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.livekitchen-text {
  border: solid 1px $black-grey 20%;
  border-radius: 10px;
  padding: 10px;
  font-size: medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 14px;
  margin: 0;
  background-color: white;
}

.livekitchen-lefttext p {
  margin: 0;
}

.livekitchen-righttext p {
  margin: 0;
}
.btn-closed {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
  width: 150px;
}
.complete-btn {
  justify-content: left;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.fix{
  position: fixed;
}

.card-livekitchen-empty {
  // border-style: solid;
  // border-color: $background-green;
  background-color: $background-green;
  opacity: 0.7;
  border-radius: 13px;
  margin-right: 20px;
  margin-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  p {
    text-align: center;
  }
  i {
    text-align: center;
    display: grid;
    font-size: xxx-large;
    padding-bottom: 15px;
  }
}
