// .menu-card:hover {
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   opacity: 3;
//   cursor: pointer;
// }

.checkout-btn {
  direction: ltr;
  position: fixed;
  left: 5%;
  bottom: 60px;
  right: 5%;
  z-index: 999;
  transform: translate3d(0px, 100%, 0px);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: calc(1rem + env(safe-area-inset-bottom) / 2);
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkout-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.checkout-quantity {
  background-color: white;
  border-radius: 13px;
  margin-right: 7px;
  p {
    margin: 0px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 2px;
    color: $dark-green;
  }
}

.checkout-price {
  font-weight: bold;
}

.empty-space {
  height: 90px;
}
