
.modal-header {
  border-bottom: 0px;
  padding: 0px;
}

.modal-button-close {
  position: absolute;
  right: 13px;
  top: 13px;
}


.menu-item-image-modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
    width: 100%;
    height: 400px;
    border-radius: 13px;
    object-fit: cover;

  }
}
.modal-btn{
  width: 200px;
  justify-content: center;
  margin-left: 5px;
}

.modal-btn-center{
  text-align: center;
}













// .update-img-link {
//   color: $background-green;
//   border-radius: 50%;
//   border: 1px solid $background-green;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 30px;
//   width: 30px;
//   position: absolute;
//   right: 10px;
//   top: 10px;
//   opacity: 0.4;
//   font-weight: lighter;
// }

// .menu-item-img:hover .update-img-link {
//     color: $background-green;
//     text-decoration: none;
//     opacity: 1;
//   }


// .menu-item-img {
//   position: relative;

//   img {
//   width: 100%;
//   height: 40vh;
//   object-fit: cover;
//   }
// }
