.container-mobile-cards {
  display: flex;
  flex-direction: column;
  border-radius: 13px;
}

.container-mobile-cards a {
  text-decoration: none;
}

.card-menu-mobile {
  height: 90px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 13px;
}

.card-menu-mobile-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding-right: 6px;
}

.card-menu-mobile-title-description h3 {
  margin-bottom: 6px;
  font-size: 13px;
  padding-top: 6px;
}

.card-menu-mobile-title-description p {
  margin: 0;
  font-size: 10px;
}

.card-menu-mobile-icons {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.card-menu-mobile-icons p {
  display: flex;
  align-items: center;
}

.card-menu-mobile-image {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-menu-mobile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 13px;
}

.fa-solid {
  color: #D9754A;
}
