.customer-menu-title {
  margin-top: 13px;
  margin-bottom: 6px;
}

.customer-menu-title h2 {
  margin: 0px;
}

.container-mobile-cards {
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  // width: 90vw;
  // margin-left: 3px;
  // margin-left: 3px;
}

.container-mobile-cards a {
  text-decoration: none;
}

.card-menu-mobile {
  height: 90px;
  background: white;
  display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  padding-left: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 13px;
}

.card-menu-mobile-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.card-menu-mobile-title-description h3 {
  margin-bottom: 6px;
  font-size: 1.125rem;
  // padding-top: 6px;
}

.card-menu-mobile-title-description {
  white-space: nowrap;
  overflow: hidden;
 p {
  margin: 0;
  font-size: .775rem;
  text-overflow: ellipsis;
  overflow: hidden;
 }
}

.card-menu-mobile-icons {
  display: flex;
  justify-content: space-between;
  font-size: .875rem;
  p {
    display: flex;
    align-items: center;
    margin: 0px;
  }
}

.card-menu-mobile-image {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-menu-mobile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 13px;
}

.fa-pepper-hot {
  color: $terracotta;
  opacity: 0.4;
}

#vegetarian {
  color: $light-green;
  opacity: 1;
}
#signature {
  color: goldenrod;
  opacity: 1;
}

#empty {
  color: white;
  opacity: 1;
}

// .fa-pepper-hot .not-very-hot {
//   color: $terracotta;
//   opacity: 0.2;
// }
