.card-menu-mobile {
  height: 90px;
  background: white;
  display: flex;
  flex-direction: column;
  padding-left: 13px;
  padding-right: 13px;
}

.card-menu-mobile-infos h3 {
  margin: 0;
  font-size: 13px;
}

.card-menu-mobile-infos p {
  margin: 0;
  font-size: 10px;
}

.card-menu-mobile-icons {
  display: flex;
  justify-content: space-between;
}

.card-menu-mobile-time {
  display: flex;
  justify-content: space-between;
}

.fa-solid {
  color: #D9754A;
}
