.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
  padding: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  // height: 60px;
  transition: 0.5s background-color ease;
}
#navbar-unlogged {
  position: relative;
}

.navbar-light-green {
  background: $light-green;

  h4 {
    color: $black-grey;
  }

  p {
    color: $black-grey;
  }

  .login {
    background-color: $dark-green;
    border-color: $dark-green;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand h4 {
  padding: 0;
  margin: 0;
  color: $background-green;
  padding-left: 10px;
}

.navbar-lewagon .nav-item {
  padding: 0 10px;

  p {
    color: $background-green;
    font-size: medium;
  }
}

.navbar-logo {
  font-size: x-large !important;
  color: $background-green;
}

.nav-link {
  color: $background-green;
}

.login {
  width: 150px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0 10px;
}

.links {
  align-items: center;
}
