.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
  padding: 20px;
  position: sticky;
  top: 0;
  // // z-index: 1000;
  width: 100%;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand h4 {
  padding: 0;
  margin: 0;
  color: $background-green;
}

.navbar-lewagon .nav-item p {
  color: $background-green;
  font-size: medium;
}
.navbar-lewagon .nav-item {
  padding: 0 10px;
}

.nav-link {
  color: $background-green;
}

.login {
  width: 150px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0 10px;
}
